%header.header
  %ul.nav.nav-pills.pull-right
    = menu_item t('.tour'), page_path(:tour)
    = menu_item t('.courses'), courses_path
    -# = menu_item t('.companies'), companies_path
    = render 'layouts/web/shared/user_menu'
  %h3.text-muted= link_to t('application.name'), root_path
