%h3 Начало работы
%ol
  %li
    %b Заполните профиль компании
  %li
    %b Добавьте преподавателей и администраторов
    %p После этого преподаватели смогут самостоятельно добавлять курсы.
  %li
    %b Создайте курсы
    %ol
      %li Добавьте лекции
      %li Пригласите участников
      %li Создавайте рассылки для участников курса
      %li Отмечайте посещаемость
      %li Отмечайте тех кто прошел курс
  %li
    %b Добавьте страницы о компании и новости
