development:
  adapter: postgresql
  encoding: unicode
  database: rails-examples_development
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: rails-examples_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: rails-examples_production
  pool: 5
  username: rails-examples
  password:
