#!/bin/bash

set -e
exec 2>&1

source /home/{{ runit_service_owner }}/.rvm/scripts/rvm

cd {{ project_root }}/current
exec chpst -u {{ deploy_user }} bin/rails s -b 127.0.0.1 -p 3000 -e {{ rails_env }}
