/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require chosen
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require bootstrap-switch
 *= require redactor-rails
 *= require_self
*/

@import "bootstrap";

body {
  padding: 30px;
}

.navbar {
  margin-bottom: 30px;
}

footer {
  margin-top: 20px;
}

.course-block {
  margin-bottom: 5px;
}

.padding10 {
  padding-left:10px;
}

.medium {
  font-size: 90%;
}
